.pio
data/config.json
run*.csv
kicad/solder-reflow-gerber/solder-reflow-B_Cu.gbl
kicad/solder-reflow-gerber/solder-reflow-B_Mask.gbs
kicad/solder-reflow-gerber/solder-reflow-B_Paste.gbp
kicad/solder-reflow-gerber/solder-reflow-B_Silkscreen.gbo
kicad/solder-reflow-gerber/solder-reflow-Edge_Cuts.gm1
kicad/solder-reflow-gerber/solder-reflow-F_Cu.gtl
kicad/solder-reflow-gerber/solder-reflow-F_Mask.gts
kicad/solder-reflow-gerber/solder-reflow-F_Paste.gtp
kicad/solder-reflow-gerber/solder-reflow-F_Silkscreen.gto
kicad/solder-reflow-gerber/solder-reflow-NPTH-drl_map.gbr
kicad/solder-reflow-gerber/solder-reflow-NPTH.drl
kicad/solder-reflow-gerber/solder-reflow-PTH-drl_map.gbr
kicad/solder-reflow-gerber/solder-reflow-PTH.drl
kicad/solder-reflow-backups/solder-reflow-2022-12-17_103633.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-17_104729.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-17_122316.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-17_222622.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-18_230417.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-18_231016.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-18_231822.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-18_232427.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-18_235555.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-19_122931.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-19_123821.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-19_124755.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-19_130823.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-19_131640.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-20_143325.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-20_220648.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-20_221614.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-20_222745.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-20_224806.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-21_211936.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-21_213123.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-21_214250.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-21_215652.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-21_221816.zip
kicad/solder-reflow-backups/solder-reflow-2022-12-21_223022.zip
kicad/solder-reflow-gerber.zip
kicad/hotstuff.png
